
/* EDITOR */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "impact";
    src: url(/fonts/Impact.ttf);
  }

html{
    font-family: "impact";
}


.main-Editor{
    display: none;
}

canvas{
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
    /* background-image: url(../img/10.jpg); */
    object-fit: cover;
    font-family: "impacted";
    position: relative;
    z-index: 1;
    border-radius: 10px;
}


.link-gallery{
    margin-top: 24px;
    font-size:0.875rem;
    line-height: 1rem;
}

.path{  
    margin-top: 2px;
    margin-left:26px;
    margin-right: 15px;
    width: 7px;
    height: 12px;
}

.canvas-section{
    background-color: white;
    width: 889px;
}

.canvas-section a{
    color:#989898;
}

.canvas-container{
    margin: 0;
    margin-top: 119px;
    margin-bottom: 251px;
}
.controller-section{
    width: 551px;
    background-color: #F8F8F8;
}

.controller-section .controller-header{
    padding-left: 30px;
    padding-right: 30px;
}

.controller{
    justify-content: center;
    width: 486px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    margin-left: 35px; 
    background-color: white;
    margin-bottom: 50px;
}

.header-buttons{
    justify-content: space-between;
}

h3{
    font-size: 1.5rem;
    color: #727272;
}

button{
    margin: 0 auto;
    padding: 10px;
    align-self: center;
    border: none;
    background-color:#F8F8F8;
}

button.up{
    position: absolute;
    top:132px;
    right:238px;
}

button.down{
    position: absolute;
    top:132px;
    right:219px;
}

.buttons{
    height:  44px;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
}

.buttons button{

    background-color: white;
}

.font-size{
    border-right: 1px solid black;
    padding-right: 9px;
}

.align{
    border-right: 1px solid black;
}

.font{
    width: 160px;
    height: 22px;
    margin-left: 5px;   
}

.color{
    margin-right: 5px;
}

.color > input{
    visibility:hidden;
    width: 0px;
    height: 0px;
}

.input-text{
    text-align: center;
    font-family: 'Roboto-Regular';
    height:66px;
    width: 486px;
}

.btns-save{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btns-save > *{
    background-color: #FF9826;
    width: 140px;
    height: 54px;
    border: 1px solid #FF9826;
    box-sizing: border-box;
    border-radius: 35px;
    font-size: 1.125rem;
    font-weight: 500;
    color: white;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* GALLERY */
* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}


/* BASIC */

html {
    font-family: 'Roboto-Regular';
    line-height: 1.1875;
}

body {
    margin: 0 auto;
    font-size: 1rem;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
} 

/* LAYOUT */

.main-layout{
    max-width: 1440px;
    margin:0 auto;
    border: 1px solid rgb(200, 200, 200);
    background-color:#E5E5E5
}

/* COMPONENTS */

.gallery{
    display: block;
}
/* main header */

.main-header {
    margin-top: 3.125rem;
    height: 4rem;
    background-color: white;
    /* border: 1px solid rgb(200, 200, 200) */
}

.logo img {
    height: 2rem;
    width: 9.5rem;
    margin-left:1.25rem
}

.main-nav {
    margin: 0 auto;
  }
  
.main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#989898;
    height: 3.375rem;
    width: 1.1875rem;
  }

.main-nav>*:not(:last-child) {
    margin-inline-end: 100px;
}

.main-nav:last-child{
    margin-inline-end:50px
}

/* Main */

/* main-gallery */
.grid{
    margin: auto;
    margin-top:15px;
    margin-bottom: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    justify-content: center ;
 }
 
.image{
    object-fit: cover;
  }
  
/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

