
/* EDITOR */
* {
    box-sizing: border-box;
}


@font-face {
    font-family: "impact";
    src: url(/fonts/Impact.ttf);
  }

html{
    font-family: "impact";
}


canvas{
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
    /* background-image: url(../img/10.jpg); */
    object-fit: cover;
    font-family: "impacted";
    position: relative;
    display:none;
    z-index: 1;
    border-radius: 10px;
}

input{
    display: none;
    z-index: 1;
}

select{
    display: none;
}

.link-gallery{
    margin-top: 24px;
    font-size:0.875rem;
    line-height: 1rem;
}

.path{  
    margin-top: 2px;
    margin-left:26px;
    margin-right: 15px;
    width: 7px;
    height: 12px;
}

.canvas-section{
    background-color: white;
    width: 889px;
}

.canvas-section a{
    color:#989898;
}

.canvas-container{
    margin: 0;
    margin-top: 119px;
    margin-bottom: 251px;
}
.controller-section{
    width: 551px;
    background-color: #F8F8F8;
}

.controller-section .controller-header{
    padding-left: 30px;
    padding-right: 30px;
}

.controller{
    justify-content: center;
    width: 486px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    margin-left: 35px; 
    background-color: white;
}

.header-buttons{
    justify-content: space-between;
}

h3{
    font-size: 1.5rem;
    color: #727272;
}

button{
    margin: 0 auto;
    padding: 10px;
    display: none;
    align-self: center;
    border: none;
    background-color:#F8F8F8;
}

.buttons{
    height:  44px;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
}

.buttons button{

    background-color: white;
}

.font-size{
    border-right: 1px solid black;
}

.align{
    border-right: 1px solid black;
}

.font{
    width: 160px;
    height: 22px;   
}

.input-text{
    text-align: center;
    border:none;
    font-family: 'Roboto-Regular';
    height:66px;
    width: 486px;

}

/* GALLERY */
* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}


/* BASIC */

html {
    font-family: 'Roboto-Regular';
    line-height: 1.1875;
}

body {
    margin: 0 auto;
    font-size: 1rem;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
} 

/* LAYOUT */

.main-layout{
    max-width: 1440px;
    margin:0 auto;
    border: 1px solid rgb(200, 200, 200);
    background-color:#E5E5E5
}

/* COMPONENTS */

.gallery{
    display: block;
}
/* main header */

.main-header {
    margin-top: 3.125rem;
    height: 4rem;
    background-color: white;
    /* border: 1px solid rgb(200, 200, 200) */
}

.logo img {
    height: 2rem;
    width: 9.5rem;
    margin-left:1.25rem
}

.main-nav {
    margin: 0 auto;
  }
  
.main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#989898;
    height: 3.375rem;
    width: 1.1875rem;
  }

.main-nav>*:not(:last-child) {
    margin-inline-end: 100px;
}

.main-nav:last-child{
    margin-inline-end:50px
}

/* Main */

/* main-gallery */
.grid{
    margin-top:15px;
    margin-bottom: 15px;
    display: grid;
    gap: 15px;
    /* height: 350px; */
    grid-template-columns: repeat(3,230px);
    grid-template-rows:repeat(3,230px);
    justify-content: center ;
 }
 
.image1 {
    background: url('../img/1.jpg');
    background-size: cover;
    object-fit: cover;
  }
  
  .image2 {
    background: url('../img/2.jpg');
    background-size: cover;
    object-fit: cover;
  }
  .image3 {
    background: url('../img/3.jpg');
    background-size: cover;
    object-fit: cover;
  }
  .image4 {
    background: url('../img/4.jpg');
    background-size: cover;
    object-fit: cover;
  }
  .image5 {
    background: url('../img/5.jpg');
    background-size: cover;
    object-fit: cover;
  }
  .image6 {
    background: url('../img/6.jpg');
    background-size: cover;
    object-fit: cover;
  }
  .image7 {
    background: url('../img/7.jpg');
    background-size: cover;
    object-fit: cover;
  }
  .image8 {
    background: url('../img/8.jpg');
    background-size: cover;
    object-fit: cover;
  }
  .image9 {
    background: url('../img/9.jpg');
    background-size: cover;
    object-fit: cover;
  }

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

